@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
        height: 100%;
}

head{
    display: flex;
    align-items: center;

}

body{
        font-family:"public sans", sans-serif;
        font-size: 1.1rem;
        min-height: 100%;
        background-image: url(images/maquina-de-turing.jpg);
        background-color: rgba(162, 252, 255, 0.842);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        
}

.contenedorMain > * { /*this expresion set an style for each child element */
        box-shadow: -1px 1px 7px 0px rgba(150, 97, 203, 0.767);
        border-radius: 4px;
        padding: 4px; /*overrided by each element padding // needed to adjust to each section needs, leaved here for reference  */
        text-align: center; /* may cause buttons aling bugs (ie. center) // */ 
}


.header{
        grid-area: header;
        background-color: rgba(13, 32, 208, 0.575);
        padding: 4px;
        /* centrado vertical */
        position: relative;
        /* centrado horizontal */
        display: flex;
        justify-content: center;

    }

.containerLogo{
    
    width: 36px;
    height: 36px;
    /*left: 3%; deprecated in favor of horizontal centering */
    
    /* centrado vertical */
    position: absolute;
    top: 50%; /*this position the element in the middle, but the element topmost border */
    margin-top: -18px; /*minus half the heigh so it can be really centered   */
}

.logoHeader{
    max-width: 100%;
    transition: all 800ms;
}

.logoHeader:hover {
    cursor: pointer;
    transform:rotate(60deg) scale(1.2);
    -ms-transform:rotate(60deg) scale(1.2); /* IE 9 */ 
    -webkit-transform:rotate(60deg) scale(1.2); /* Opera, Chrome, and Safari */
}   

.keyselector{
    grid-area: keyselector;
    background-color: rgba(158, 230, 43, 0.664);
    padding: 4px;
}

.ksbuttons li{
    display: inline;
}

.main{
    position: relative;
    grid-area:main;
    background-color: rgba(13, 208, 182, 0.651);
    /*padding: 10px;*/  /* prevents buttons from overflowing the container   */
    border: 3px;
    align-content: center;
    
    height: 100%;

}

p{margin: 4px;}

textarea{
text-align-last: center;
padding: 4px;

}

.inputcontainer {
height: 70%;

}


.inputbox{
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}



.mainbuttons{

    /*necesita ajustar tamaño y estilo de texto de boton {no esta siendo afectado por la propiedad en body} */
   
    position: sticky;
 
    top: 90%;
    display:block;
    width: auto; /*cannot be auto, it will create unwanted dinamics when zooming while hover */
    text-align: center;
    box-sizing:border-box; /* can also be content-box  */
    min-width: 90%;
    font-size: medium;
     /*margin: 10px; this afects the spacing between buttons */
    border: 1px solid  #000000;
    border-radius: 3px ;  
     /* padding: 2px 2px;cannot be higer // higer values increase button height  */
    background-color: rgba(179, 182, 187, 0.278);
    transition: all 500ms;
    /*overflow: hidden;*/
   
            
}

.mainbuttons button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


legend{

    font-size: 12px;
    color: #495057;
    min-width: 343px;
    margin: 6px;
    align-items: center;
    display: flex;
}


.sidefield{ /* this is needed [even the buttons have just 1 confgi] due the "grid" layout. You need to have "areas" to be added to the grid  */
    position: relative;
    grid-area: sidefield;
    background-color: rgba(153, 13, 208, 0.74);
    border: 3px;
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow: hidden; /* prevents buttons from overflowing the container [mostly bottom // may be drepecated in favor of buttons "sticky" positioning which might prevent them from overflowing anyway] */  
}

.outputcontainer {
     height: 70%;
    }
    
    
.outputbox{
     min-height: 100%;
     min-width: 100%;
     max-height: 100%;
     border-radius: 4px;
      
}
 
.footer{
    grid-area: footer;
    background-color: rgba(170, 157, 81, 0.753);
    padding: 4px;
}

.contenedorMain {
     display: grid;
     gap: 5px;
     grid-template: 
     "header" 50px
     "keyselector" 50px
     "main" auto
     "sidefield" auto
     "footer" 50px;
}

    
@media (min-width:600px) {

    .contenedorMain {
      /*  grid-template-columns: 50% auto; /* define el ancho de las columnas */
      /*  grid-row: 50px auto 50px;/* define el alto de las columnas */
      /*  grid-template-areas:  /*define el orden de los elementos */
      /* "header header"
         "main   sidefield"
         "footer footer";*/  /*desactivado en favor del gri-template */

         grid-template: 
         "header header" 50px /*organizacion y alto de las filas */
         "keyselector keyselector" 50px
         "main   sidefield" auto /*organizacion y alto de las filas */
         "footer footer" 50px /  /*organizacion y alto de las filas */
         50% auto;  /* luego del "/" se define el ancho de las columnas */
            
    } 



}   
       
@media (min-width:900px) {

    .contenedorMain {
      /*  grid-template-columns: 50% auto; /* define el ancho de las columnas */
      /*  grid-row: 50px auto 50px;/* define el alto de las columnas */
      /*  grid-template-areas:  /*define el orden de los elementos */
      /* "header header"
         "main   sidefield"
         "footer footer";*/  /*desactivado en favor del gri-template */

         grid-template: 
         "header header header" 50px /*organizacion y alto de las filas */
         "keyselector main   sidefield" auto /*organizacion y alto de las filas */
         "footer footer footer" 50px /  /*organizacion y alto de las filas */
         150px auto 40% /* luego del "/" se define el ancho de las columnas */
        ; 
    } 

 
}   


