header {
position: relative;
scale: screen;
background-color: rgb(194, 164, 241);
padding: 5px;

}

.containerLogo {
    width: 70%; 
    margin-left: auto;
    margin-right: auto; 
}

.logoHeader{
    width: 25%;
    height: 25%;
    margin: 10px;
    padding: 15px;
    
}